# Project data
data/raw/*
data/processed/*
!data/raw/.gitkeep

chroma_db/*

.idea/
*.iml

.env
.DS_Store
.venv/
/envs/

__pycache__/
*.py[cod]
*$py.class

qdrant_storage/*
app/core/*
app/ingestion/*
app/llm/*

evaluation/dataset.json
evaluation/results